body{
      background-color: #0f1123;
      font-family: 'Audiowide', cursive;
}
h1{
  font-size: 10vw;
  color: wheat;
  font-weight: 900;
  line-height: 100vh;
}
.top{
    background-color: antiquewhite;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 15px;
}
img{
  padding: 15px 0;
  width: 100%;
}
