body {
      background-color: #0f1123;
      font-family: 'Audiowide', cursive;
      background-color: black;
}

.loader-wrapper{
  height: 100vh;
  width: 100vw;
  background-color: #000;
  position: fixed;
  z-index: 1;
}

.loader{
    position: absolute;
    left: 45%;
    top: 50%;
    margin-top: -42px;
    width: 69px;
    height: 94px;
    background: url('../img/css_sprites.png') 0 0;
    -webkit-animation: jump 1s steps(4) infinite;
    animation: jump 1s steps(4) infinite;
}
@-webkit-keyframes move {
  0%, 100% { -webkit-transform: translate(0, 0); }
   50%{ -webkit-transform: translate(0, -0.5em); }
}
@keyframes move {
  0%, 100% { transform: translate(0, 0);}
  50%{ transform: translate(0, -0.5em);}
}
@-webkit-keyframes jump {
  0% { -webkit-background-position: -5px -7px; }
   100% { -webkit-background-position: -5px -390px; }
}
@keyframes jump {
  0% { background-position: 0 0;}
  100%{ background-position: 0 -390px;}
}

h1 {
  font-size: 10vw;
  font-weight: 900;
  line-height: 80vh;
  color: wheat;
}

header {
    position: relative;
    height: 100vh;
    margin-bottom: 15px;
    background-size: cover;
    background-repeat: no-repeat;
}

a {
  position: absolute;
  top: 85%;
  left: 50%;
}

span {
  color: wheat;
  font-size: 6vw;
  -webkit-animation: move 2s 1 ease 4s;
  animation: move 2s 1 ease 4s;
}

img {
  padding: 15px 0;
  width: 100%;
  min-height: 400px;
}
